<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.android.rfid">
    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />
    <application android:allowBackup="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ScanActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified"
            />
    </application>

</manifest>
